.container-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid hotpink;
}

.container-squares {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border: 2px solid purple;
  width: 100%;
}

.parent-container {
  display: flex;
}
