.container-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid hotpink;
}

.container-squares {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: 1px solid purple;
}

.parent-container {
  display: flex;
}
